/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

/* just light or dark themes */
@import "open-props/normalize/dark";
@import "open-props/buttons/dark";
@import "open-props/normalize/light";
@import "open-props/buttons/light";

/* individual imports */
@import "open-props/indigo";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";
/* see PropPacks for the full list */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  display: grid;
}

:root {
    color-scheme: dark light;
}

.announcements {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: var(--size-5);
  padding: var(--size-5);
}

.announcement-detail, .announcement-summary {
  flex-basis: var(--size-content-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--surface-2);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
}
.announcement-summary > h5 {
  line-height: var(--font-lineheight-1);
}

